<body class="body2">  
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign up</h5>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"} ) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-label-group field">
                <%= f.email_field :email, :class => "form-control", :placeholder => "Email address" , autofocus: true, :autocomplete => "email" %>
                <%= f.label :email %>
                 <!-- ??? -->
              </div>

              <div class="form-label-group field">
                <%= f.password_field :password, :class => "form-control", :placeholder => "Password", :required => true, :autocomplete => "off" %>
                <%= f.label :password %>
                <div class="minpassword">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </div>
              </div>

               <div class="form-label-group field">
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation", :autocomplete => "off" %>
                <%= f.label :password_confirmation %>
              </div>

              <%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block text-uppercase" %>
              <div class="loginlabel"><%= render "devise/shared/links" %></div>
              <hr class="my-4">
              <%= link_to user_google_oauth2_omniauth_authorize_path, style:"text-decoration: none" do %>
                <button class="btn btn-lg btn-google btn-block text-uppercase mb-3" type="submit"><i class="fa fa-google mr-2"></i>Sign in with Google</button>
              <% end %>
              <%= link_to user_facebook_omniauth_authorize_path, style:"text-decoration: none" do %>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i>Sign in with Facebook</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>  