<%= flash[:success] %>
<div class="container">
    <div class="row mb-5">
        <div class="col-lg-12">
          <h2 class="my-4">Users</h2>
        </div>
        <% @profiles.each do |profile| %>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <%= link_to(user_path(profile.user_id), style:'text-decoration: none') do %>
            <% if profile.image? %>
              <%= image_tag profile.image.thumb.url, :class => "rounded-circle img-fluid d-block mx-auto mb-2" %>
            <% else %>  
              <img class="rounded-circle img-fluid d-block mx-auto mb-2" src="../img/noimage.jpg" alt="avatar">
            <% end %>
            <h3 class="text-dark"><%= profile.username %> <small><%= profile.age %></small></h3>
            <% if profile.singleword? %>
              <p class="text-dark"><%= truncate(profile.singleword, length: 17) %></p>
            <% end %>
          <% end %>  
        </div>    
        <% end %>    
    </div>
</div>    