<div class="container mt-4">
  <div class="row">
    <div class="col">
        <div class="user-widget-2">
            <ul class="list-unstyled">
                <% @users.each do |user| %>
                <li class="media border-bottom pb-4">
                    <% if user.profile.image? %>
                      <%= image_tag user.profile.image.thumb.url, :class => "rounded-circle d-flex align-self-center" %>
                    <% else %>  
                      <img class="rounded-circle d-flex align-self-center" src="../img/noimage.jpg" alt="avatar">
                    <% end %>
                    <div class="media-body">
                        <h4 class="mt-2 ml-1"><%= user.profile.username %> <%= user.profile.age %>歳</h4>
                        <% if user.profile.singleword? %>
                          <h5 class="text-dark ml-2"><%= truncate(user.profile.singleword, length: 17) %></h5>
                        <% end %>
                        <p>
                            <span class="mt-2">
                              <%= link_to 'チャットを始める', matching_path(user.id), class:"btn btn-primary btn-sm", style:"text-decoration: none" %>
                            </span>
                            <%= form_for(current_user.active_relationships.find_by(following_id: user.id), html: { method: :delete, class: "mt-2" }) do |f| %>
                              <%= f.submit 'マッチングを削除', class:"btn btn-primary btn-sm"  %>
                            <% end %>
                        </p>
                    </div>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
  </div>
</div>
