<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"%>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <% unless notice.nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script src="//cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
    <!-- For js, so it's possible that other ajax doesn't work by this change -->
  </body>
</html>
